---
title: Index page
---

{% extends "layouts/_layout.html" %} {% block content %}

<section class="section widgets inverse">
  <div class="container">
    <div class="section-content">
      <div class="section-intro inverse">
        <h2>Powerful Widgets<span class="section-dot"></span></h2>
      </div>
      <div class="widgets-container">
        <div class="widgets-content">
          <ul class="widgets-list inverse">
            <li class="widgets-list__item">
              <div class="widget-inner">
                <span>1</span>
                <div class="widget-text inverse">
                  <h4>Form Widget</h4>
                  <p>
                    Visitors will use this widget to join your campaign and
                    invite their friends.
                  </p>
                </div>
              </div>
            </li>
            <li class="widgets-list__item">
              <div class="widget-inner">
                <span>2</span>
                <div class="widget-text inverse">
                  <h4>Form Widget</h4>
                  <p>
                    Visitors will use this widget to join your campaign and
                    invite their friends.
                  </p>
                </div>
              </div>
            </li>
            <li class="widgets-list__item">
              <div class="widget-inner">
                <span>3</span>
                <div class="widget-text inverse">
                  <h4>Form Widget</h4>
                  <p>
                    Visitors will use this widget to join your campaign and
                    invite their friends.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="widgets-image">
          <img src="../img/widget.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section-content">
      <div class="section-intro">
        <h2>How it works <span class="section-dot"></span></h2>
      </div>

      <div class="section-items">
        <div class="section-item">
          <div class="section-item__content">
            <h3>
              Step 1: People Refer Friends <span class="section-dot"></span>
            </h3>
            <p>
              Your users get their own unique link to share with their friends
              and family in order to reach a milestone.
            </p>
          </div>
          <div class="section-item__image">
            <img src="../img/item-1.png" alt="" />
          </div>
        </div>
        <div class="section-item section-item--reversed">
          <div class="section-item__content">
            <h3>
              Step 2: They Reach A Milestone <span class="section-dot"></span>
            </h3>
            <p>
              As they refer friends, they unlock rewards. They can score more
              cool stuff when they refer more people, like free swag, tickets to
              events and cool products.
            </p>
          </div>
          <div class="section-item__image">
            <img src="../img/item-2.png" alt="" />
          </div>
        </div>
        <div class="section-item">
          <div class="section-item__content">
            <h3>Step 3: They Get Rewarded <span class="section-dot"></span></h3>
            <p>
              The more friends they refer, the bigger the prize they earn. When
              people reach a specific number of referrals (milestone) they
              instantly win the corresponding prize.
            </p>
          </div>
          <div class="section-item__image">
            <img src="../img/item-3.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section love-to-use">
  <div class="section-intro">
    <h4>This template works perfectly with tools</h4>
    <h2>You Love To Use <span class="section-dot"></span></h2>
  </div>
  <div class="container">
    <div class="brands-items">
      <div class="brand-item">
        <img src="../img/brands/1.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/2.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/3.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/4.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/5.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/6.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/7.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/8.png" alt="" />
      </div>
      <div class="brand-item">
        <img src="../img/brands/9.png" alt="" />
      </div>
    </div>
  </div>
</section>

{% endblock %}
