{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"
    />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" media="all" href="css/app.css" />
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>
    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"
    ></script>
    <script>
      $(".brands-items").slick({
        slidesToShow: 6,
        slidesToScroll: 6,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    </script>
    <script type="text/javascript" src="js/app.js"></script>
    <script></script>
    <!-- END scripts -->
  </body>
</html>
